/* =========================
   Signup ページ
========================= */

html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background: #fafafa;
}

.signup-container {
  display: flex;
  justify-content: center;  /* 横中央 */
  align-items: center;      /* 縦中央 */
  height: 100%;             /* body 高さに合わせる */
  width: 100%;
}

.signup-box {
  width: 320px;
  padding: 40px 30px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
}

.signup-logo {
  font-family: 'Galada', cursive;
  font-size: 42px;
  margin-bottom: 30px;
}

.signup-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box; /* 余白込みで幅を正確にする */
}

#signupBtn {
  width: 100%;
  padding: 10px;
  background: #0095f6;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}