.signup-container {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.signup-box {
  width:320px;
  padding:40px 30px;
  background:#fff;
  border:1px solid #ddd;
  text-align:center;
}

.signup-logo{
  font-family: 'Galada', cursive;
  font-size: 42px;
  margin-bottom: 30px;
}

.signup-box input {
  width:100%;
  padding:10px;
  margin-bottom:10px;
  border:1px solid #ccc;
  border-radius:6px;
}

#signupBtn {
  width:100%;
  padding:10px;
  background:#28a745;
  color:#fff;
  border:none;
  border-radius:6px;
  margin-top:10px;
  font-weight:bold;
  cursor:pointer;
}